/* Typography */
@import url('https://fonts.googleapis.com/css?family=Oswald|Sigmar+One&display=swap');

h1,h2,h3,h4,h5,h6{ font-family: 'Sigmar One', cursive;}
p, html{ font-family: 'Oswald', sans-serif;}
.card .card-image{text-align: center;}
.recipe-icon{width:100%;}
p{font-size:18px; margin-top:0;}
#slider-label-padding{padding-bottom:10px;}
.white-text{text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);}
.lead{font-size:1.6rem; padding-top:2rem;}

/* Containers */
.about-container{background-image: url('../images/about.jpg'); height:450px; background-size:cover; background-position: center;}


/* Generic styles */
.align-right{float:right;}
.footer-link{color:#fff;}
.padding-bottom{padding-bottom:18px;}

/* Nav Bar */

nav{background-color:#2d1d00;}
a:hover{color:#ff4e00; transition: color .3s; -webkit-transition: color .3s;}
a.waves-effect.waves-red.waves-ripple.btn{color: #fff;}
.active a{color:#ff4e00;}
.brand-logo{width:auto; height:200px; }
.btn, .btn-large, .btn-small{background-color:#ff4e00;}
.btn, .btn-large, .btn-small:hover{background-color:#7b0d1e;}
.card-recipe{margin: 3rem 0 0 0;}
.card-add_recipe{margin-top: 3rem;}
.material-icons{vertical-align: middle; font-size:14rem;}
.m-icons-primary{color: #c61700;}
.m-icons-inverse{color:#fff;}
/* Carousel */
.carousel.carousel-slider{max-height:900px!important;}
div.carousel-item{cursor: grab;}
#slide-one{ background-image: url("../images/slide1-home.jpg"); background-repeat:no-repeat; background-size: cover;}
#slide-two{ background-image: url("../images/slide2-home.jpg"); background-repeat:no-repeat; background-size: cover;}
#slide-three{ background-image: url("../images/slide3-home.jpg"); background-repeat:no-repeat; background-size: cover;}
/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Footer */
.page-footer{background-color: #2d1d00; margin-top:2rem;}
.page-footer .footer-copyright{background-color:#000000;}





/* Media Queries */
@media only screen and (min-width: 993px){
     nav .nav-wrapper{padding: 4.5rem;}
    nav {height:150px;}
    nav .brand-logo{
        height: 198px;
        z-index: 1;
        position: absolute;
        top: -1px; }

}
@media only screen and (max-width: 992px)
 { 
    nav .nav-wrapper{padding: 1.7rem 1rem 1rem 1rem;}
    nav {height:110px; }
    nav .brand-logo{height:70px; }
}

@media only screen and (min-width: 993px){
     nav .nav-wrapper{padding: 4.5rem;}
    nav {height:150px;}
    nav .brand-logo{
        height: 198px;
        z-index: 1;
        position: absolute;
        top: -1px; }

}

@media only screen and (max-width: 778px){
     h1{font-size:2.2rem;}
     h2{font-size: 1.7rem;}
    .about-container{height: 245px;}

}

@media only screen and (max-width: 425px){
    .label{font-size:11.2px;}
    button.btn.waves-effect.waves-light {
         width: 100%;
         text-align: left;}
    .select-wrapper input.select-dropdown{
        font-size:11.2px;
    }

}