{% extends "base.html" %} {% block content %}
<nav>
        <div class="nav-wrapper">
            <img class="brand-logo center" src="../static/images/logo.png" width="auto" height="200px" alt="The Salty Salamander">
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <div>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li class="active"><a href="#">Add a Recipe</a></li>
                <li class="align-right"><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('register') }}">Register</a></li>
                <li class="align-right"><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </div>
    </nav>   
    <ul class="sidenav" id="mobile-menu">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li class="active"><a href="#">Add a Recipe</a></li>
        <li><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('register') }}">Register</a></li>
        <li><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('about') }}">Login</a></li>
    </ul>
    <div class="card card-add_recipe">
        <div class="card-content">
        <h3>Add Recipe</h3>
        <div class="row">
            <form  action="" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Recipe Name</label>
                </div>
               <div class="input-field col s12">
                    <i class="material-icons prefix">apps</i>
                    <select>
                    <option value="" disabled selected>Choose your category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    </select>
                    <label>Category Select</label>
                </div>
                <div class="input-field col s12">
                    <div id="slider-label-padding">
                    <i class="material-icons prefix">pie_chart</i>
                    <label >How many people does it serve</label>
                    </div>
                    <div>
                    <p class="range-field">
                        <input type="range" id="test5" min="1" max="20" />
                    </p>
                    </div>
                </div>
                <div class="input-field col s12">
                    <textarea id="recipe_description" class="materialize-textarea"></textarea>
                    <label for="recipe_description">Please enter a description for your recipe.</label>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js" ></script>


{% endblock %}