{% extends "base.html" %} {% set active_page = "add_recipe" %} {% block content %} 
    <div class="container">
        <div class="card card-add_recipe">
            <div class="card-content">
            <h1>Add Recipe</h1>
                <div class="row">
                    <form  action="{{url_for('insert_recipe') }}" method="POST" class="col s12">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="recipe_name" name="recipe_name" type="text" class="validate" required >
                            <label for="recipe_name">Recipe Name</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">apps</i>
                            <select  id="category_name" name="category_name" required>
                                <option value="" disabled selected>Choose your category</option>
                                {% for cat in categories %}
                                <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                {% endfor %}
                            </select>
                            <label>Category Select</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">child_care</i>
                            <input id="author_name" name="author_name"  type="text" class="validate" required>
                            <label for="author_name">Your Nickname</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <div id="slider-label-padding">
                                <i class="material-icons prefix">pie_chart</i>
                                <label >How many people does it serve</label>
                            </div>
                            <div>
                                <p class="range-field">
                                    <input type="range" id="serves" name="serves"  min="1" max="20"  required >
                                </p>
                            </div>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <i class="material-icons prefix">kitchen</i>
                            <label for="prep_time_mins">Prep time in minutes</label>
                            <input id="prep_time_mins" name="prep_time_mins"  type="number" required >
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <i class="material-icons prefix">alarm</i>
                            <label for="cook_time_mins">Cooking time in minutes</label>
                            <input id="cook_time_mins" name="cook_time_mins"  type="number" required >
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">image</i>
                            <input id="recipe_img" name="recipe_img" type="text" class="validate" pattern="https?://.+" required >
                            <label for="recipe_img">Recipe image link</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">grade</i>
                            <textarea id="description" name="description" class="materialize-textarea" required ></textarea>
                            <label for="description">Recipe description.</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_grocery_store</i>
                            <textarea id="recipe_ingredients" name="recipe_ingredients"  class="materialize-textarea" required ></textarea>
                            <label for="recipe_ingredients">Cooking ingredients</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_dining</i>
                            <textarea name="cooking_instructions" id="cooking_instructions" class="materialize-textarea" required ></textarea>
                            <label for="cooking_instructions">Cooking instructions</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


{% endblock %}