<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Welcome to The Salty Salamander, get your fill of our tasty treats or share your own for others to drool over!" />
        <meta name="author" content="Captain Salamander" />
         <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}" />
       
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}" />
        <title>The Salty Salamander</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    </head>

    <body>

      <nav>
        <div class="nav-wrapper">
            <img class="brand-logo center" src="{{ url_for('static', filename='images/logo.png') }}" alt="The Salty Salamander">
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <div>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li class="{{ 'active' if active_page == 'index' else '' }}"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="{{ url_for('about') }}">About</a></li>
                 <li class="{{ 'active' if active_page == 'add_recipe' else '' }}"><a href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
                </ul>
            </div>
        </div>
    </nav> 
    <ul class="sidenav" id="mobile-menu">
        <li class="{{ 'active' if active_page == 'index' else '' }}"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="{{ url_for('about') }}">About</a></li>
        <li class="{{ 'active' if active_page == 'add_recipe' else '' }}"><a href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
    </ul>
        {% block content %} 
        
        {% endblock %}
        
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              
              <div class="col l4  s12">
                <h5 class="white-text">Site Map</h5>
                <ul>
                    <li><a class="footer-link" href="{{ url_for('index') }}">Home</a></li>
                    <li ><a class="footer-link" href="{{ url_for('about') }}">About</a></li>
                    <li><a class="footer-link" href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
                </ul>
              </div>
            </div> 
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Sam Sedgeman
            <a class="footer-link right" href="https://github.com/sps992">Github</a>
            </div>
          </div>
        </footer>
        <script  src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" ></script>
        <script  src="{{ url_for('static', filename='js/materialize.js') }}" ></script>
         <script src="{{ url_for('static', filename='js/script.js') }}" ></script>
      
    </body>

</html>

