{% extends "base.html" %} {% block content %} 

<div class="card card-add_recipe">
        <div class="card-content">
        <h3>Edit {{recipe.recipe_name}} Recipe</h3>
        <div class="row">
            <form  action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}" type="text" class="validate">
                    <label for="recipe_name">Recipe Name</label>
                </div>
               <div class="input-field col s12">
                    <i class="material-icons prefix">apps</i>
                    <select  id="category_name" name="category_name">
                    <option value="" disabled selected>Choose your category</option>
                    {% for cat in categories %}
                        {% if cat.category_name == recipe.category_name %}
                        <option value="{{recipe.category_name}}" selected >{{recipe.category_name}}</option>
                        {% else %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                    <label>Category Select</label>
                </div>
                <div class="input-field col s12">
                    <div id="slider-label-padding">
                    <i class="material-icons prefix">pie_chart</i>
                    <label >How many people does it serve</label>
                    </div>
                    <div>
                    <p class="range-field">
                        <input type="range" id="serves" name="serves"   value="{{recipe.serves}}" min="1" max="20" />
                    </p>
                    </div>
                </div>
                <div class="input-field col s12">
                    <textarea id="description" name="description" class="materialize-textarea">{{recipe.description}}</textarea>
                    <label for="description">Please enter a description for your culinery delight.</label>
                    
                </div>
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients"  class="materialize-textarea">{{recipe.recipe_ingredients}}</textarea>
                    <label for="recipe.recipe_ingredients">Please enter your cooking ingredients</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="cooking_instructions" name="cooking_instructions"  class="materialize-textarea">{{recipe.cooking_instructions}}</textarea>
                    <label for="cooking_instructions">Please enter your cooking instructions</label>
                </div>
                <div class="input-field col s2">
                Please enter your prep time in minutes
                <input id="prep_time_mins" name="prep_time_mins" value="{{recipe.prep_time_mins}}" type="number" >
                </div>
                <div class="input-field col s2">
                Please enter your cooking time in minutes
                <input id="cook_time_mins" name="cook_time_mins" value="{{recipe.cook_time_mins}}" type="number" >
                </div>
            
            </div>
            <div class="row">
                <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Update Recipe
                <i class="material-icons right">send</i>
                </button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>

    {% endblock %}