{% extends "base.html" %}

    {% block content %} 
    <nav>
        <div class="nav-wrapper">
            <img class="brand-logo center" src="../static/images/logo.png" width="auto" height="200px" alt="The Salty Salamander">
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <div>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
                <li class="align-right"><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('register') }}">Register</a></li>
                <li class="align-right"><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </div>
    </nav>   
    <ul class="sidenav" id="mobile-menu">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('add_recipe') }}">Add a Recipe</a></li>
        <li><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('register') }}">Register</a></li>
        <li><a class="waves-effect waves-red waves-ripple btn" href="{{ url_for('login') }}">Login</a></li>
    </ul>
    
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="../static/images/slide1-home.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../static/images/slide2-home.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../static/images/slide3-home.jpg"></a>
  </div>
          
      
            
    <div class="container">
    <div class="row">
    <!-- Recipe template -->
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <i class="recipe-icon material-icons">local_dining</i>
        </div>
        <div class="card-content">
            <span class="card-title"> {{recipe.recipe_name}}</span>
            <p><i class="medium material-icons">bookmark_border</i>{{recipe.category_name}}</p>
            <p><i class="medium material-icons">kitchen</i> Prep time: {{recipe.prep_time_mins}}</p>
            <p><i class="medium material-icons">alarm</i>Cook time: {{recipe.cook_time_mins}}</p>
        </div>
        <div class="card-action">
          <a href="{{url_for( 'recipe', recipe_id=recipe._id)}}">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  
  
        {% endblock %}