{% extends "base.html" %}

{% block content %} 
    <div class="container">
        <img class="responsive-img" src="{{recipe.recipe_img}}">
        <div class="row">
            
                <a class="col s12 m4 waves-effect waves-red waves-ripple btn" href="{{ url_for('index') }}"><i class="medium material-icons m-icons-inverse">arrow_back</i>Back</a>
                <a class="col s12 m4 waves-effect waves-red waves-ripple btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"><i class="medium material-icons m-icons-inverse">create</i>Edit</a>
                <a class="col s12 m4 waves-effect waves-red waves-ripple btn" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"><i class="medium material-icons m-icons-inverse">create</i>Delete</a>
            
        </div>
    </div>
    
   
   
    </div>
    <div class="container">
        <div class="row">
            <h1>{{recipe.recipe_name}}</h1>
            <div class="col s6 m5 l4">
                <p class="flow-text"><i class="medium material-icons m-icons-primary">bookmark_border</i>{{recipe.category_name}}</p>
            </div>
            <div class="col s6 m5 l4">
                <p class="flow-text"><i class="medium material-icons m-icons-primary">child_care</i>{{recipe.author_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m5 l4">
                <p class="flow-text"><i class="medium material-icons m-icons-primary">kitchen</i> Prep time: {{recipe.prep_time_mins}}mins</p>
            </div>
            <div class="col s6 m5 l4">
                <p class="flow-text"><i class="medium material-icons m-icons-primary">alarm</i> Cook time: {{recipe.cook_time_mins}}mins</p>
            </div>
            <div class="col s12 m5 l4">
                <p class="flow-text"><i class="medium material-icons m-icons-primary">pie_chart</i> Serves {{recipe.serves}}</p>
            </div>
        </div>
        <div class="row">
        <div class="col s12">
            <p class="flow-text">{{recipe.description}}</p>
            <h2>Ingredients</h2>
            <p>{{recipe.recipe_ingredients}}</p>
            <h2>Cooking Instructions</h2>
            <p >{{recipe.cooking_instructions}}</p>

            </div>
        </div>
    </div>
{% endblock %} 